
@{
    ViewBag.Title = "Index";
}

<h2>Приветствие</h2>
<div>
    @ViewBag.Hello
    <br />
    @ViewBag.Greeting
    @ViewBag.Greeting, my World!
    <hr />
    <h2>Приглашаю всех на захватывающую вечеринку!</h2>
    <h3>Вы приглашены, нужно только заполнять форму!</h3>
    <!--Создание ссылки Helper-->
    <div class="btn btn-default">
        @Html.ActionLink("Регистрация на вечеринку", "RegisterForm")
    </div>
    <div class="btn btn-default">
        @Html.ActionLink("Отправьте сообщение", "ContactForm")
    </div>
</div>

<!--
    
    ссылка на другой контроллер и метод
<p>
    <a href="~/picture/RegisterForm">Link</a>
    ссылка в том же контроллере
    <a href="RegisterForm">Link</a>
</p>
-->
